<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Demo Review Site</title>
		<style>

		</style>
    </head>
    <body>
		<h1>Add a New Review </h1>
		<img src="/static/cs490.png">
		<form method="post">
	
			<label for="review">Product Review</label>
			<br>
			<textarea name="review"
					  placeholder="Product review"
					  rows="15"
					  cols="60"
					  >{{ request.form['review'] }}</textarea>
			<br>
			<button type="submit">Submit</button>
		</form>

		<a href="{{ url_for('review_insights') }}">Go to review insights</a>
    </body>
</html>
